@model frontend.Models.Result

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/frontend.styles.css" asp-append-version="true" />
    <style>
        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>Consultas SRI/ANT</h1>
    </header>
    <div class="container mt-4">

        @if(Model != null)
        {
            <div class="row justify-content-center">
                <div class="col-md-6">

                    <form asp-action="MakeARequest" asp-controller="Request" method="post">
                        <div class="form-group">
                            <label for="id">Ingrese su cédula:</label>
                            <input type="text" class="form-control" id="id" name="id" value="@Model.Id" />
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>


                    <div class="form-group">
                        <label for="SRIContributor">Eres contribuyente al SRI:</label>
                        <input type="text" id="SRIContributor" class="form-control" value="@Model.IsContributor" readonly>
                    </div>
                    <div class="form-group">
                        <label for="ANTLicencePoints">Tus puntos totales según la ANT son:</label>
                        <input type="text" id="ANTLicencePoints" class="form-control" value="@Model.LicencePoints" readonly>
                    </div>

                </div>
            </div>
        }

    </div>
</body>
</html>
